<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recomendation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../CSS/styling.css">
    <link rel="import" type="text/html" href="footer.html">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
<div class="row" style="top: 0;">
    <div class="col-md-12" style="position: static">
        <div class="card" style=" display: inline">
            <ul class="nav nav-tabs" role="tablist"
                style="background-color:transparent; box-shadow: -2px -2px 2px #E0E0E0; ">
                <li role="presentation" class="active" style="width: 50%"><a href="#CURRENT" aria-controls="current"
                                                                             role="tab"
                                                                             data-toggle="tab">CURRENT</a></li>
                <li role="presentation" style="width: 50%"><a href="#PAST" aria-controls="PAST" role="tab"
                                                              data-toggle="tab">PAST</a></li>
            </ul>
        </div>
    </div>
</div>
<ul style="margin-top: 10px;">

    <!--<% _.each(courses, function(obj) { %>-->

    <!--<% var courseName = '';-->
    <!--var section = '';-->
    <!--var outline = '';-->

    <!--for (i=0; i < obj.meta.length; i++) { %>-->
    <!--<% if( obj.meta[i].name == "name" ) { courseName = obj.meta[i].value; console.log(courseName); %>-->
    <!--<% } else if ( obj.meta[i].name == "section" ){ section = obj.meta[i].value; console.log(section);%>-->
    <!--<% } else if ( obj.meta[i].name == "outline" ){ outline = obj.meta[i].value; console.log(outline);%>-->
    <!--<% } %>-->
    <!--<% } %>-->

    <li style="margin-left: -50px;">
        <a href="#course_detail/<%= courseName %>/<%= obj.teachers[0].meta_name%>/<%= section %>/<%= outline %>">

            <div class="card" style="height: 100px">
                <div class="card-block" style="margin-top: 10px">
                    <p class="card-text" id="subject">Computer Science</p>

                    <p id="prof_name"
                       style="color: #134b6d;font-size: 12px; margin-top: 10px;margin-left: 20px">
                        Professor: Joe Smith <Br> <span style="color: #4285F4; margin-top: 35px">Software Enginnering</span></p>

             <div style="margin-top: -90px;width: 80px;float: right">

                 <p class="date" id="Start_date"
                    style="color: #134b6d; font-size: 10px;padding: 1% ">
                     Start Date <br> <span style="color: #4285F4;">26-07-2016 </span>
                 </p>
                    <p class="date" id="End_date"
                       style="color: #134b6d; font-size: 10px;padding: 1%;; ">
                        End Date <br> <span style="color: #4285F4;">26-07-2016</span>
                    </p>



             </div>
                    <i class="fa fa-calendar" aria-hidden="true"
                       style="color: #134b6d;margin-top: -66px;float: right;margin-right: 90px"></i>
                </div>


            </div>

        </a>
    </li>
    <!--<% });%>-->
</ul>
</body>
</html>