<!DOCTYPE html>
<html lang="en">
<head>
    <title>Session Report</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../CSS/styling.css">
    <link rel="import" type="text/html" href="footer.html">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
<div class="row" style="display: block;text-align: center ">

    <ul>
        <% _.each(sessions, function(obj) { %>
        <% var sessionName = '';

        for (i=0; i < obj.meta.length; i++) { %>
        <% if( obj.meta[i].name == "name" ) { sessionName = obj.meta[i].value; %>
        <% } %>
        <% } %>
        <li style="margin-left: -30px;">
            <div class="card"  style="height: 140px">
                <a href="#session_report_detail">

                    <div style="width: 80px;float: right; margin-right: 20px;margin-top: 10px">

                        <p class="date" id="Start_date"
                           style="color: #BDBDBD; font-size: 10px;">
                            Start Date <br> <span style="color: #BDBDBD;"><%=
                        (obj.end_date.date).substring(0, 20) %> </span>
                        </p>
                        <p class="date" id="End_date"
                           style="color: #BDBDBD; font-size: 10px; ">
                            End Date <br> <span style="color: #BDBDBD;">26-07-2016</span><span style="color:darkorange; float: right;margin-top: 15px">VIEW REPORT</span>

                        </p>
                    </div>

                    <i class="fa fa-calendar" aria-hidden="true"
                       style="color: #134b6d;float: right;margin-right: 5px; margin-top: 35px"></i>



                    <div id="subject" style="text-align: center; background-color: darkorange;color: white;float: left;
"><p><%= sessionName %> </p>         </div>
                    <br>

                    <p id="prof_name"
                       style="color: #134b6d; float: left;  font-size: 12px; margin-top: 55px;margin-left: -130px">
                        Professor: <%= teacherName %> <Br> <span style="color: #4285F4; margin-top: 55px"><%= courseName %></span></p>

                </a>
            </div>

        </li>
        <% });%>
    </ul>


</div>

</body>
</html>